<h1>About (views/static_pages/help.html.erb)</h1>
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://content.sportslogos.net/logos/53/69/full/6xk2lpc36146pbg2kydf13e50.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Oakland Athletics</h3>
         <p>Wins: 1 Losses: 1</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Remove
            </a>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://content.sportslogos.net/logos/54/54/full/q9gvs07u72gc9xr3395u6jh68.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Chicago Cubs</h3>
         <p>Wins: 2 Losses: 400</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Remove
            </a>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://content.sportslogos.net/logos/54/54/full/q9gvs07u72gc9xr3395u6jh68.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Team 1</h3>
         <p>Wins: 0 Losses: 0</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Remove
            </a>
         </p>
         
      </div>
   </div>

   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://content.sportslogos.net/logos/54/54/full/q9gvs07u72gc9xr3395u6jh68.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>New Team</h3>
         <p>Create new team.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Create
            </a>             
         </p>
         
      </div>
   </div>
   
</div>
