<br>
<div class="center jumbotron">
  <h1>Welcome to LL Stats</h1>

  <h2> This is the home of the Little League Stat Tracker web application!</h2>
  <%= image_tag("LLLogo.png", alt: "Little League logo") %>
  <br>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-md btn-primary" %>
</div>

