<div class="center jumbotron">
  <h1>Little League Stat Tacker</h1>

  <h2> This is the home of the Little League Stat Tracker web application!</h2>

  <h3><%= image_tag("LLLogo.png", alt: "Little League logo") %></h3>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("LLLogo.png", alt: "Little League logo") %>