
<br>
<br>
 
<div class="panel panel-default">
  <div class="panel-heading">
     <h4>Forgot Password</h4>
  </div>
 
  <div class="panel-body">
     <%= form_for(:password_reset, url: password_resets_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
     <% end %>
  </div>
</div>
