<!--% provide(:title, 'Password is updated') %>
<h1>Password is updated</h1>-->

<br>
<br>
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Password is updated</h4>
  </div>
</div>


