<h1> Edit player from <%= @player.team.name %> </h1>
<br>
<hr>

<%= render "player_form" %>
<br>
<%= link_to team_players_path(@player.team), class: 'btn btn-default btn-xs' do%> <i class="glyphicon glyphicon-triangle-left"></i> Back <% end %>

