<h1> Edit player from <%= @player.team.name %> </h1>
<hr>

<%= render "player_form" %>
<br>
<%= link_to team_players_path(@player.team), class: 'btn btn-default' do%> Back <i class="glyphicon glyphicon-none"></i> <%end %>
