<h1> Add a new player to <%= @team.name %>'s Roster </h1>
<br>
<hr>

<%= render "player_form" %>
<br>
<%= link_to team_players_path, class: 'btn btn-default' do%> Back <i class="glyphicon glyphicon-none"></i> <%end %>
